.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black */
    backdrop-filter: blur(5px);
}

.nav-btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.nav-btn:hover {
    transform: scale(1.05);
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}