.skill-container {
    padding: 50px;
    min-height: 80vh;
}

.skill-header {
    margin-bottom: 40px;
}

.skill-label {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

.skill-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.skill-item {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    max-width: 600px;
    cursor: default;
}

.skill-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.skill-image img {
    max-width: 300px;
    filter: grayscale(100%);
    /* Make image black and white */
    mix-blend-mode: screen;
    /* Blend with black bg */
}